<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Complexity Input</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <style></style>
  </head>
  <body>
    <div class="container">
      <h1>Hash Calculator</h1>
      <h4>Enter the Hash Complexity:</h4>
      <input
        type="number"
        id="complexity"
        placeholder="Enter complexity (1-10)"
        min="1"
        max="10"
      />
      <button onclick="sendRequest()">Submit</button>
      <div class="result" id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
